
html, body {
   padding: 0;
   margin: 0;
   height: 100%;
   font-family: 'Open Sans', sans-serif;
   font-size: 12px;
   color: #666666;
   text-rendering: optimizeLegibility;
}

#app {
   min-height: 100%;
}

#container {
   position: relative;
   width: 100%;
   min-height: 100vh;
}

#button-menu {
   width: 50px;
}

#header {
   #userDropdown {
      left: auto;
      right: 0;
   }

   .navbar-item {
      padding: 0 17px 0 17px;
      display: flex;
      height: 50px;
      align-items: center;
      cursor: pointer;
      color: #6D6D6D;
      border-right: $headerNavItmesBorder;

      &.right {
         border-left: $headerNavItmesBorder;
         border-right: none;
      }
   }
}

#column-left {
   position: absolute;
   padding-top: 50px;
   top: 0px;
   width: 50px;
   height: 100%;
   transition: all 0.3s;
   background: #515151;
   z-index: 10;

   &.active {
      display: block;
      width: 170px;

      #menu li {
         i {
            font-size: 14px;
         }

         a > span {
            display: inline;
         }
      }
   }

   @media (min-width: 768px) {
      &.active {
         overflow: auto;

         & + #content {
            margin-left: 170px;

            & + #footer {
               margin-left: 0px;
            }
         }
      }

      & + #footer {
         margin-left: 0px;
      }
   }

   &:not(.active) #menu {
      & > li > ul {
         position: absolute;
         top: 0px;
         left: 50px;
         width: 150px;
         visibility: hidden;
      }

      & > li:hover > ul {
         display: block;
         visibility: unset;
      }
   }

   & + #content {
      margin-left: 50px;

      & + #footer {
         margin-left: 50px;
      }
   }
}

#menu {
   margin-bottom: 25px;

   &, ul, ul li {
      padding: 0;
      margin: 0;
      list-style: none;
   }

   & > li {
      position: relative;

      &:hover {
         background: #444;
      }

      & > a {
         padding-left: 13px;
         font-size: 14px;
         color: #c4c4c4;
         border-bottom: 1px solid #585858;

         &:hover {
            color: #ddd;
         }

         & > span {
            display: none;
            margin-left: 8px;
         }
      }
   }

   li {
      a {
         display: block;
         padding: 10px;
         text-decoration: none;
         cursor: pointer;
         border-bottom: 1px solid #515151;

         i {
            font-size: 16px;
         }
      }

      ul {
         background: #444;

         a {
            padding-left: 20px;
         }
      }

      li {
         a {
            color: #9d9d9d;

            &:hover {
               color: #ddd;
            }

            &:before {
               margin: 0 10px;
               font-size: 14px;
               font-family: 'Font Awesome 5 Free';
               font-weight: 900;
               transition: margin ease 0.5s;
               content: "\f101";
            }
         }

         &:hover {
            background: #444;
         }
      }
   }
}

#content {
   padding-bottom: 40px;
   min-height: calc(100vh - 125px);
   transition: all 0.3s;
}

.page-header {
   padding: 0;
   margin: 15px 0;
   vertical-align: middle;
   border-bottom: none;

   h1 {
      display: inline-block;
      margin-bottom: 15px;
      font: 'Open Sans', sans-serif 30px 400;
      color: #848484;
   }
}

.breadcrumb {
   display: inline-block;
   padding: 0 10px;
   margin: 0;
   background: none;

   & > li {
      display: inline-block;

      a {
         padding: 0px;
         margin: 0px;
         font-size: 11px;
         color: #999999;
      }
   }
}

#footer {
   padding: 0 10px;
   height: 50px;
   text-align: center;
}