@keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

#header {
   padding: 0;
   margin: 0;
   height: 50px;
   border-bottom: 1px solid #e5e5e5;
   background: #fff;

   .navbar-header {
      padding: 0;
   }

   .navbar-brand {
      width: 120px;
      text-align: center;
   }

   .authDropdown .dropdown-menu {
      left: -1px;
      right: 0;
      margin-top: -1px;
      min-width: 100%;
   }
}

span.help-block:empty {
   display: none;
}

.fa-spinner {
   animation:spin 1s linear infinite;
}

.form-control:hover {
   border: 1px solid #b9b9b9;
   border-top-color: #a0a0a0;
   -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
   box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

fieldset legend {
   padding-bottom: 5px;
}


input[type="radio"], input[type="checkbox"] {
   margin: 2px 0 0;
}
.radio, .checkbox {
   min-height: 18px;
}
input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"], input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
   position: relative;
   width: 13px;
   width: 16px \0;
   height: 13px;
   height: 16px \0;
   -webkit-appearance: none;
   background: white;
   border: 1px solid #dcdcdc;
   border: 1px solid transparent \0;
   border-radius: 1px;
}
input[type="radio"]:focus, .radio input[type="radio"]:focus, .radio-inline input[type="radio"]:focus, input[type="checkbox"]:focus, .checkbox input[type="checkbox"]:focus, .checkbox-inline input[type="checkbox"]:focus {
   border-color: #4d90fe;
   outline: 0;
}
input[type="radio"]:active, .radio input[type="radio"]:active, .radio-inline input[type="radio"]:active, input[type="checkbox"]:active, .checkbox input[type="checkbox"]:active, .checkbox-inline input[type="checkbox"]:active {
   background-color: #ebebeb;
   border-color: #c6c6c6;
}
input[type="radio"]:checked, .radio input[type="radio"]:checked, .radio-inline input[type="radio"]:checked, input[type="checkbox"]:checked, .checkbox input[type="checkbox"]:checked, .checkbox-inline input[type="checkbox"]:checked {
   background: #fff;
}
input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"] {
   width: 15px;
   width: 18px \0;
   height: 15px;
   height: 18px \0;
   border-radius: 1em;
}
input[type="radio"]:checked::after, .radio input[type="radio"]:checked::after, .radio-inline input[type="radio"]:checked::after {
   position: relative;
   top: 3px;
   left: 3px;
   display: block;
   width: 7px;
   height: 7px;
   content: '';
   background: #666;
   border-radius: 1em;
}
input[type="checkbox"]:hover, .checkbox input[type="checkbox"]:hover, .checkbox-inline input[type="checkbox"]:hover {
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
   box-shadow: none \9;
   border-color: #c6c6c6;
}

input[type="checkbox"]:checked::after, .checkbox input[type="checkbox"]:checked::after, .checkbox-inline input[type="checkbox"]:checked::after {
   position: absolute;
   top: -6px;
   left: -5px;
   display: block;
   content: url('../images/checkmark.png');
}

.form-group {
   padding-top: 15px;
   padding-bottom: 15px;
   margin-bottom: 0;
}

.form-group + .form-group {
   border-top: 1px solid #ededed;
}


.form-control:hover {
   border: 1px solid #b9b9b9;
   border-top-color: #a0a0a0;
   box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.form-group label {
   display: inline;
   font-size: 1.2rem;
}

.btn, .btn:focus {
   outline: none;
}

.btn {
   padding: 0.380rem 0.8rem;
   font-size: 1rem;
}

.btn-default {
   color: #333;
   background-color: #fff;
   border-color: #ccc;
}